@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vivoSansSC";
  src: url("https://de-gdpr-exstatic-vivofs.vivo.com/sFhAQhTYYDsNOJz1/1732764353690/103324fe5bc060bcdd646726624e68b9.woff2") format("woff2");
  font-display: swap;
}
